<div class="container" fxLayout="column" fxLayoutAlign="space-between center">
  <div class="note" fxLayout="column" fxLayoutAlign="center start">
      <form>
          <div class="note-title" fxLayout="row" fxLayoutAlign="space-between center">
              <input class="title" placeholder="Title">
              <img class="pin-icon" src="../../../assets/push_pin_FILL0_wght400_GRAD0_opsz48.svg" alt="pin">
          </div>

          <div>
              <input class="takenote" placeholder="Take a note ...">
          </div>
      </form>

      <div class="icons" fxLayout="row" fxLayoutAlign="space-between center">
          <!-- <app-icons></app-icons> -->
          <div class="close">
              <button mat-button>Close</button>
          </div>
      </div>
  </div>
</div>